<div class="banner">
    <div class="container">
        <div class="header">
            <h2 style="font-weight: bold; margin-bottom:15px; font-size: 2.75rem; line-height: 1.2;">
                Crypto Market (API CoinGecko.com)
            </h2>
            <h6 style="color: darkorange; text-transform: capitalize; font-size: 1.8rem; font-weight: 500; line-height: 1.57;">
                Crypto currency real time price
            </h6>
        </div>
        <div class="sub-header">
            <marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" loop="infinite" direction="left">
                <div class="row">
                    A
                </div>
            </marquee>
        </div>
    </div>
</div>

<div class="container mt-3">
    <!-- Table should be here -->
</div>